* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: #e8e8e8;
}
body #container {
  max-width: 1980px;
  margin: auto;
}
nav {
  background: linear-gradient(to right, #8360c3, #2ebf91);
}
nav .topMenu {
  width: 90%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 5rem;
  max-width: 1600px;
}
nav .topMenu > a {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  color: #e8e8e8;
  text-decoration: none;
  margin-right: 2.5rem;
  padding-bottom: 0.5rem;
  position: relative;
}
nav .topMenu > a:after {
  content: "";
  width: 0;
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #e8e8e8;
  transition: all 0.15s ease-in;
}
nav .topMenu > a:hover:after {
  width: 100%;
}
#side-nav {
  position: fixed;
  right: -3rem;
  top: 50%;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.15s ease-in;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  box-shadow: -2px 2px 5px 0px #191919;
  z-index: 99;
}
#side-nav.disabled {
  right: -8rem;
}
#side-nav:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8360c3;
  z-index: 1;
  transition: all 0.15s ease-in;
}
#side-nav:after {
  content: "\2630";
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 15%;
  color: #2ebf91;
  font-size: 1.75rem;
  transform: translateY(-50%);
  overflow: hidden;
  transition: all 0.15s ease-in;
}
#side-nav:hover {
  height: 16rem;
  width: 16rem;
  right: -8rem;
}
#side-nav:hover:before {
  z-index: 0;
  background: #8360c3;
}
#side-nav:hover:after {
  left: 75%;
}
#side-nav ul {
  margin-left: 1.5rem;
}
#side-nav ul li {
  list-style: none;
}
#side-nav ul li a {
  text-decoration: none;
  color: #e8e8e8;
  padding: 0.4rem 0;
  display: inline-block;
  font-size: 1.1rem;
  position: relative;
  transition: all 0.15s ease-out;
}
#side-nav ul li a:hover {
  font-size: 1.3rem;
}
#side-nav ul li a.active {
  color: #e8e8e8;
  font-size: 1.3rem;
  border-left: 4px solid #2ebf91;
  padding: 0.2rem 0;
  padding-left: 0.2rem;
  margin: 0.2rem 0;
}
#intro {
  width: 100%;
  position: relative;
  background: #8360c3;
  /* fallback for old browsers */
  background: linear-gradient(to right, #8360c3, #2ebf91);
}
#intro .slant {
  position: absolute;
  width: 100%;
  height: 13vh;
  z-index: -1;
  background: linear-gradient(to right, #8360c3, #2ebf91);
  transform-origin: bottom left;
  transform: skewY(-2deg);
}
#intro #intro-container {
  display: flex;
  justify-content: space-around;
  max-width: 1600px;
  margin: auto;
}
#intro #intro-container #featured {
  width: 30rem;
}
#intro #intro-container #featured #featured-label {
  font-family: "Raleway", sans-serif;
  color: #2ebf91;
  font-weight: bold;
}
#intro #intro-container #featured > div {
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.75);
  position: relative;
  height: 100%;
  overflow: hidden;
  background-image: url("/myImage.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#intro #intro-container #featured > div > p {
  position: absolute;
  left: 0;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  transition: all 0.15s ease;
}
#intro #intro-container #featured > div .featured-name {
  top: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  height: 4rem;
}
#intro #intro-container #featured > div:hover .featured-name {
  top: -4rem;
}
#intro #intro-container #featured > div .featured-desc {
  bottom: 0;
  font-family: "Roboto Slab", serif;
  height: 7rem;
}
#intro #intro-container #featured > div:hover .featured-desc {
  bottom: -7rem;
}
#intro #intro-container #intro-text {
  max-width: 40rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#intro #intro-container #intro-text > div .name {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  margin-bottom: 0.4rem;
  color: #e8e8e8;
}
#intro #intro-container #intro-text > div .desc {
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  color: #282b28;
}
#intro #intro-container #intro-text #technologies {
  margin: 2.5rem 0;
  display: flex;
  align-items: baseline;
}
#intro #intro-container #intro-text #technologies .technology {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 0.5rem;
  display: inline-block;
  transition: all 0.15s ease-in;
  position: relative;
  bottom: 0;
}
#intro #intro-container #intro-text #technologies .technology:first-of-type {
  margin-left: 0;
}
#intro #intro-container #intro-text #technologies .technology:nth-of-type(2) {
  margin: 0rem;
}
#intro #intro-container #intro-text #technologies .technology:hover {
  bottom: 0.5rem;
}
#projects {
  width: 90%;
  margin: auto;
  margin-top: 17vh;
}
#projects .header {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  background-color: #3a435e;
  border-left: 3px solid #2ebf91;
  color: #e8e8e8;
}
#projects .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
#projects .buttons a {
  font-size: 1.25rem;
  margin: 0 0.5rem;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: #e8e8e8;
  padding: 0.75rem 1rem;
  transition: all 0.15s ease-in;
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.75);
}
#projects .buttons a.buttons-completed {
  border: 1px solid #2ebf91;
  color: #2ebf91;
  background-color: #e8e8e8;
  box-shadow: 0px 0px 10px 2px #2ebf91;
}
#projects .buttons a.buttons-incomplete {
  background-color: #8360c3;
  border: 1px solid #8360c3;
}
#projects #list {
  padding: 3rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  transition: all 0.15s ease-in;
}
#projects #list .project {
  flex: 0 0 23%;
  height: 100%;
  margin: 0 1%;
  color: #3a435e;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.5s ease-in;
  opacity: 0;
  left: 125%;
  font-family: "Roboto Slab", serif;
}
#projects #list .project.active {
  opacity: 1;
  left: 0;
}
#projects #list .project .image {
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 10rem;
  display: block;
  transition: all 0.15s;
  background: url("/myImage.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
#projects #list .project .image:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10rem;
  transition: all 0.15s ease-in;
}
#projects #list .project p {
  font-size: 1.3rem;
  position: relative;
  color: #3a435e;
  bottom: 0;
  transition: all 0.15s ease-in;
  margin-bottom: 0.2rem;
  font-family: "Roboto Slab", serif;
  margin-left: 0.2rem;
  cursor: pointer;
}
#projects #list .project:hover p {
  bottom: 7rem;
  color: #fff;
}
#projects #list .project:hover .image:after {
  background: rgba(50, 50, 50, 0.3);
}
#projects #list .project:hover .visit {
  opacity: 1;
  bottom: 7rem;
}
#projects #list .project .visit {
  color: #fff;
  opacity: 0;
  font-size: 1.1rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0.1rem 1rem;
  transition: all 0.15s ease-in;
  position: relative;
  bottom: 0;
  text-decoration: none;
}
