@import "./misc.less";
@import "./topNav.less";
@import "./intro.less";
@import "./sidenav.less";
@import "./project.less";
@import "./contact.less";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;

  header {
    background: #8360c3; /* fallback for old browsers */
    background: @gradientBG;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.container {
  max-width: 1600px;
}
